__pycache__/
/spt/__pycache__
/spt.egg-info
/SPT.egg-info
/build
/dist
.gitignore~
.gitignore
/.ipynb_checkpoints
/spt/dask-worker-space
/dask-worker-space
/scripts/dask-worker-space
/spt/.ipynb_checkpoints
/scripts/.ipynb_checkpoints
/scripts/examples/.ipynb_checkpoints
/scripts/notebooks/.ipynb_checkpoints
/scripts/standard/.ipynb_checkpoints
